body { background-color: azure; }

.gameboy {
    position: absolute;
    top: 10em;
    left: 20em;
    width: 18em;
    height: 30em;
    border: 2px solid rgb(153, 153, 153);
    border-radius: 10px 10px 77px 10px ;
    background-image: -webkit-linear-gradient( #ADB6B3, #BEC2C1 50%);
    background-image: linear-gradient( #ADB6B3, #BEC2C1 50%);
    box-shadow: -5px 6px 20px rgba(0, 0, 0, 0.37),
    -21px 17px 65px rgba(0, 0, 0, 0.46),
    inset -3px 0 4px #8E918E,
    inset -7px 0 7px #DFDFDF,
    inset 1px 0 3px #66696A,
    inset 3px 0 10px #616465,
    inset 0 3px 7px #919496,
    inset 0 4px 10px white;
}



.display {
    position:relative;
    width: 15em;
    height: 12em; 	
    border-radius: 10px 10px 53px 10px;
    background-image: (46deg, #485055, rgba(143, 151, 156, 0.91) 80%);
    background-image: linear-gradient(46deg, rgba(102, 109, 114, 0.5), rgba(140, 147, 151, 0.58) 80%);
    margin-left: 1.5em;
    margin-top: 2em;
}

.display-2 {
    position: absolute;
    top: 3em;
    left: 3em;
    width: 10.5em;
    height: 9.5em;
    border-top: 1px solid #394b21;
    border-right: 1px solid #36472f;
    background: #5f953d;
    box-shadow: inset -2px 5px 10px #2a421a;
    opacity: .5;
    margin-left: 1em;
}

